
body {
    background-color: rgb(0, 0, 0);
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	font-family:Impact, Charcoal, sans-serif;
    color: rgb(218, 219, 215);
}

footer {
	font-family: Arial, Helvetica, sans-serif;
	color: yellow;
	font-style: italic;
	font-size: 90%;
}

